.button {
  @apply py-3 rounded-sm px-6 cursor-pointer inline-flex overflow-hidden no-underline text-base ring-transparent border-transparent border-2 items-center;
  background-image: linear-gradient(to left, theme('colors.white') 0, theme('colors.white') 50%,  50%, theme('colors.pink') 100%);
  background-position: right -2px center;
  background-size: 205% 100%;
  transition: color .2s ease, background .2s ease, border .2s ease;

  &:hover {
    color: white;
    background-position: left -2px center;
  }

  &:focus {
    outline: none;
    border-color: var(--accent);
  }

  *:not(:first-child) {
    margin-left: 10px;
  }
}

.naked {
  background-image: linear-gradient(to left, transparent 0, transparent 50%,  50%, rgba(white, 0.3) 100%);

  &:hover {
    color: inherit;
  }
}

.small {
  @apply p-1 text-sm -m-1;
}
