@use '../vars';

.button {
  align-items: center;
  background-image: linear-gradient(to left, var(--white) 0, var(--white) 50%,  50%, var(--accent) 100%);
  background-position: right -2px center;
  background-size: 205% 100%;
  border-radius: 3px;
  border: 2px solid transparent;
  color: var(--body);
  cursor: pointer;
  display: inline-flex;
  font-family: vars.$font-family;
  font-size: 1rem;
  overflow: hidden;
  padding: 12px 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color .2s ease, background .2s ease, border .2s ease;

  &:hover {
    color: white;
    background-position: left -2px center;
  }

  &:focus {
    outline: none;
    border-color: var(--accent);
  }

  *:not(:first-child) {
    margin-left: 10px;
  }
}
