@use '../vars';

.nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  align-items: center;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--body);
}

.link {
  margin-left: auto;
  font-size: 0.8em;
  font-weight: normal;
}

.name {
  display: flex;
  align-items: center;

  button {
    font-size: 0.9rem;
  }
}

.avatar {
  border-radius: 5px;
  height: 30px;
  margin-left: 10px;
}
