@layer components {
  .orderedList {
    counter-reset: ordered-list-counter;

    li {
      counter-increment: ordered-list-counter;
    }
  }

  .countable::before {
    content: counter(ordered-list-counter) '. ';
  }
}
