.wrapper {
  text-align: center;
  max-width: 400px;
  width: 90vw;
  margin: 20vh auto;
  position: relative;
}

.content {
  position: relative;
}

.title {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1.1;
  margin: 0;
}

.lede {
  margin: 35px 0;
}

.icon {
  margin-bottom: 20px;
}

.blob {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -160px;
  margin-left: -200px;
}
