// Colors
$primary: #73F9BD;
$body: #2714FF;
$accent: white;

// Fonts
$font-size: 20px;
$font-family: custom, BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin label {
  font-size: $font-size * 0.8;
  font-weight: bold;
  text-transform: uppercase;
}
