@use "./vars";

:root {
  --primary: #{vars.$primary};
  --body: #{vars.$body};
  --accent: #{vars.$accent};
}

@font-face {
  font-family: 'custom';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/font-book.woff") format("woff");
}

@font-face {
  font-family: 'custom';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("/fonts/font-medium.woff") format("woff");
}

html,
body {
  font-family: vars.$font-family;
  font-size: vars.$font-size;
  line-height: 1.5;
  background-color: var(--primary);
  color: var(--body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
